/* */
.fc-button {
    background: #DFDFDF 0% 0% no-repeat padding-box !important;
    opacity: 1 !important;
    width: 86px !important;
    height: 38px !important;
    letter-spacing: 0px !important;
    color: #D71218 !important;
    text-transform: capitalize !important;
    opacity: 1 !important;
    font: normal normal bold 11px/15px rajdhani !important;
    border: none !important;
    transition: 0.5s !important;
    position: relative;
}

.fc-button:focus {
    background: #D71218 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029 !important;
    border-radius: 4px 4px 4px 4px !important;
    color: #FFFFFF !important;
    transition: 1s !important;
    text-transform: capitalize !important;
    box-shadow: 0px 3px 6px #00000029 !important;


}

.fc-toolbar-title {
    position: absolut !important;
    text-align: left !important;
    margin-left: 10px !important;
    margin-top: 30px !important;
    width: 350px !important;
    font: normal normal bold 25px/20px rajdhani !important;
    letter-spacing: 0px !important;
    color: #707070 !important;
    text-transform: capitalize !important;
    opacity: 1 !important;

}


.fc-list-event-dot {
    display: none !important;
}

/* */
.fc-list-sticky {
    border-top-width: 15px !important;
    border-bottom-width: 15px !important;

    border-left-width: 10px !important;
    border-right-width: 10px !important;
    border-color: #FFFFFF !important;
}

.fc-list-event {
    border-width: 4px !important;
    background: #F2F2F2 0% 0% no-repeat padding-box !important;
    border-color: white !important;
}

.fc-unthemed td {
    border-color: #FFFFFF !important;
    border-top-width: 4px !important;
}

.fc-scroller {
    height: auto !important;
}

.fc-list-item-time, .fc-list-item-marker {
    display: none !important;
}

/* */

.fc-list-event-title, .fc-list-event-time {
    text-align: left !important;
    font: normal normal bold 14px/56px rajdhani !important;
    letter-spacing: 0px !important;
    color: #707070 !important;
    text-transform: capitalize !important;
    opacity: 1 !important;
}


.fc-list-event-title a {
    margin: -40px !important;
}


.fc-list-heading {
    display: none !important;
}

.fc-daygrid-day-eventse {
    translate :0px 90px  !important;
    font: normal normal bold 12px/15px rajdhani !important;
    background: #D6D4D4 0% 0% no-repeat padding-box !important;
    opacity: 1;
    height: 45px;
    border: none !important;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.fc-daygrid-day-eventse:hover {
    background: #D71218 0% 0% no-repeat padding-box !important;
    box-shadow: 0px 3px 6px #00000029 !important;

}
.fc-scrollgrid-sync-innere:hover {
    background: #B8FCA5 0% 0% no-repeat padding-box !important;

}
.fc-scrollgrid-sync-innere {
    background: #F2F2F2 0% 0% no-repeat padding-box !important;
    border: 15px solid white !important;
    min-height: 165px !important;
}
.fc-col-header-cell-cushion{
    color:white !important;
    letter-spacing: 0px !important;
    text-transform: capitalize !important;
}
.fc-daygrid-day-numbere{
    position: absolute;
    font: normal normal bold  28px/54px rajdhani!important;
    letter-spacing: 0px !important;
    text-transform: capitalize !important;
    opacity: 0.53 !important;
    color: #D71218 !important;
    top: 6px;
    right: 162px;
}
.arrow-left{
    position: absolute !important;
    right: 161px !important;
    top: 14px !important ;
    width: 16px;
    height: 16px;
}
.fc-cell-shaded{
    background: #D71218 0% 0% no-repeat padding-box !important;
  height:60px ;
}
.fc-list-day-text{
    font: normal normal bold 25px/0px rajdhani !important;
    color: #FFFFFF !important;
    text-transform: capitalize !important;
    opacity: 1;
    letter-spacing: 0px !important;    
    margin-top: 24px;
    margin-left: 19px;
}